::ng-deep p-calendar {
    span {
        width: 100% !important;

        input {
            width: 100% !important;
        }
    }
}

::ng-deep p-autocomplete {
    .p-autocomplete {
        width: 100% !important;
    }
}