<div class="flex h-100 d-column layout">
  <div class="w-100">
    <header class="header">
      <nav class="navbar">
        <div class="logo">CarRental</div>
        <ul class="nav-links">
          <button class="btn-search" (click)="redirectToOffers()">Manage Offers</button>
          <button class="btn-search" (click)="redirectToOwnerCars()">Manage Cars</button>
          <button class="btn-search" (click)="authService.logout()">Logout</button>
        </ul>
      </nav>
    </header>
  </div>
  <div class="flex f-grow-2" >
    <div class="add-container flex content-between d-column" [formGroup]="carForm">
      <div>
        <h2>Add a New Car</h2>
      </div>
      <div class="form-group">
        <label for="carMake">Car Make:</label>
        <p-autoComplete 
          id="carMake" 
          formControlName="car_make" 
          [suggestions]="filteredCarMakers"
          field="name"
          (completeMethod)="filterCarMakers($event)"
          [dropdown]="true">
          <ng-template let-carMaker pTemplate="item">
            <div class="country-item">
                <div>{{carMaker.name}}</div>
            </div>
        </ng-template>
        </p-autoComplete>
      </div>
      <div class="form-group">
        <label for="carModel">Car Model:</label>
        <p-autoComplete 
          id="carModel" 
          formControlName="car_model" 
          [suggestions]="filteredModels"
          [disabled]="!carForm.value.car_make"
          (completeMethod)="filterCarModels($event)"
          field="name" 
          [dropdown]="true">
        </p-autoComplete>
      </div>
      <div class="form-group">
        <label for="carYear">Car Year:</label>
        <p-calendar id="carYear" view="year" formControlName="car_year" [yearNavigator]="true" [monthNavigator]="true"
                    yearRange="1900:2030" dateFormat="yy"></p-calendar>
      </div>
      <div class="form-group">
        <label for="fuelType">Fuel Type:</label>
        <input type="text" id="fuelType" formControlName="fuel_type" required>
      </div>
      <div class="form-group">
        <label for="transmission">Transmission:</label>
        <input type="text" id="transmission" formControlName="transmission" required>
      </div>
      <div class="form-group">
        <label for="mileage">Mileage:</label>
        <input type="number" id="mileage" formControlName="mileage" required>
      </div>
      <div class="form-group">
        <label for="additionalFeatures">Additional Features:</label>
        <input type="text" id="additionalFeatures" formControlName="additional_features">
      </div>
      <button class="add-button" type="submit" (click)="onCarAdd()" [disabled]="carForm.valid">Add Car</button>
    </div>    
  </div>
  <div>
    <footer class="footer">
      <p>&copy; 2024 Car Rental. All rights reserved.</p>
    </footer>
  </div>
</div>
<p-toast></p-toast>