<div class="flex h-100 d-column">
  <div class="w-100">
    <header class="header">
      <nav class="navbar">
          <div class="logo">CarRental</div>
          <ul class="nav-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </nav>
    </header>
  </div>
  <div class="flex f-grow-2">
    <div class="w-50 flex content-center items-center border-section">
      <div class="image w-100 h-400">

      </div>
    </div>
    <div class="w-50 flex content-center items-center border-section">
     <app-register></app-register> 
    </div>
  </div>
  <div class="flex w-100 content-between features items-center">
    <div class="feature">
      <h2>Carpool</h2>
      <p>Find a ride or share your journey with others.</p>
    </div>
    <div class="feature">
        <h2>Rent</h2>
        <p>Rent a car from our trusted community members.</p>
    </div>
    <div class="feature">
        <h2>Lease</h2>
        <p>Get a car on flexible terms that suit your needs.</p>
    </div>
  </div>
  <div>
    <footer class="footer">
      <p>&copy; 2024 Car Rental. All rights reserved.</p>
    </footer>
  </div>
</div>