.reservation-container {
    padding: 20px;
  }
  
  .reservation-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 20px);
  }
  
  .mt-2 {
    margin-top: 20px;
  }
  
  .flex {
    display: flex;
  }
  
  .f-grow-2 {
    flex-grow: 2;
  }
  
  .content-around {
    justify-content: space-around;
  }
  
  .items-center {
    align-items: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .overflow-y {
    overflow-y: auto;
  }
  