<div class="flex h-100 d-column layout">
    <div class="w-100">
      <header class="header">
        <nav class="navbar">
          <div class="logo">CarRental</div>
          <ul class="nav-links">
            <button class="btn-search" (click)="redirectToOffers()">Go to offers</button>
            <button class="btn-search" (click)="authService.logout()">Logout</button>
          </ul>
        </nav>
      </header>
    </div>
    <div class="flex f-grow-2 content-around items-center wrap overflow-y">
      <div *ngFor="let reservation of reservations$ | async" class="offer-card mt-2">
        <p><strong>Pickup Date:</strong> {{reservation.start_date_time | date:'longDate'}}</p>
        <p><strong>Return Date:</strong> {{reservation.end_date_time | date:'longDate'}}</p>
        <p><strong>Car Make:</strong> {{reservation.car.car_make}}</p>
        <p><strong>Car Model:</strong> {{reservation.car.car_model}}</p>
        <p><strong>Car Year:</strong> {{reservation.car.car_year}}</p>
        <p><strong>Fuel Type:</strong> {{reservation.car.fuel_type}}</p>
        <p><strong>Mileage:</strong> {{reservation.car.mileage}} miles</p>
        <p><strong>Transmission:</strong> {{reservation.car.transmission}}</p>
        <p><strong>Additional Features:</strong> {{reservation.car.additional_features}}</p>
      </div>
    </div>
    <div>
      <footer class="footer">
        <p>&copy; 2024 Car Rental. All rights reserved.</p>
      </footer>
    </div>
    <router-outlet></router-outlet>
  </div>
  